/**** estilo css ****/
 
#container{
    width: 400px;
    height: 300px;
    background-color: rgba(120, 100, 25, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;



}
.bg{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: url("portal1.gif");
    background-repeat: no-repeat;
    background-size: 1080px 650px ;
     margin-top: 50px;
     margin-left: 70px;

 
}

#container img{
    
    margin-top: -250px;
    margin-bottom: 30px;
    margin-left: -50px;
}
input{

    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 47px;
    border-style: none;

}
/* Para redimencionar a posição do login */
.logar{
    margin-top: -170px;
}
#email{
    background-image: url("usuario.jpg") ;
    background-repeat: no-repeat;
    background-position: 1%;
    background-size: contain;
}
#senha{
    background-image: url("cadeado.jpg") ;
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: contain;
}
input.submit{
    color: #fff;
    padding: 5px 20px;
    height: 45px;
    width: 90%;
    background: linear-gradient(to bottom,#66CD00,#00CD00 );

}

    
